* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
article {
  margin: 5rem auto;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  display: grid;
  background-color: white;
  border: 1px solid blue;
  border-radius: 12px;
  box-shadow: -7px 0px 77px 20px rgba(41, 41, 202, 0.88);
  -webkit-box-shadow: -7px 0px 77px 20px rgba(41, 41, 202, 0.88);
  -moz-box-shadow: -7px 0px 77px 20px rgba(41, 41, 202, 0.88);
}
.header-container {
  display: flex;
  gap: 2rem;
  box-shadow: 0px 10px 0px -7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 10px 0px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 0px -7px rgba(0, 0, 0, 0.35);
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.header-container figure img {
  width: 125px;
  height: 125px;

  border-radius: 1000px;
  object-fit: cover;
}
#profile-time {
  margin-top: 12px;

  font-weight: 700;
}
.header-container figcaption {
  display: flex;
  justify-content: center;
  color: rgb(136, 134, 134);
  font-weight: 500;
}

/* =================== SOCIAL LINKS==================== */
nav {
  box-shadow: 0px 10px 0px -7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 10px 0px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 0px -7px rgba(0, 0, 0, 0.35);
  padding-bottom: 20px;
  margin-bottom: 30px;
}
nav h2 {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-top: 13px;
}
nav ul li {
  list-style: none;
  font-size: 20px;
}
nav ul li a {
  color: black;
}

/* ======================= HOBBIES AND DISLIKES ================================== */
.hoobies-dislikes {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 10px 0px -7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 10px 0px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 0px -7px rgba(0, 0, 0, 0.35);
  padding-bottom: 20px;
  margin-bottom: 30px;
}
/* ======================== BUTTONS =================================== */
.container-button {
  display: flex;
  justify-content: space-evenly;
}
.container-button button {
  font-size: medium;
  padding: 8px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 12px;
}
.container-button button:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0px 0px 12px 0px rgba(99, 6, 242, 0.78);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(99, 6, 242, 0.78);
  -moz-box-shadow: 0px 0px 12px 0px rgba(99, 6, 242, 0.78);
}
.container-button button a {
  text-decoration: none;
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
  }
  .header-container img {
    display: block;
    margin: 0 auto;
  }
  .header-container header {
    text-align: center;
  }
  #profile-time {
    font-size: 13px;
  }
}
